<ion-tabs>
  <ion-tab tab="places">
    <ion-router-outlet name="places"></ion-router-outlet>
  </ion-tab>

  <ion-tab tab="missions">
    <ion-router-outlet name="missions"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="places" href="/game-play/tabs/(places:places)">
      <ion-icon name="home"></ion-icon>
      <ion-label>Platser</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="missions" href="/game-play/tabs/(missions:missions)">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Uppdrag</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
