<ion-header>
  <ion-toolbar>
    <ion-title>missions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="player.role === chosenPlace.generalRole">
    <ion-row>

      <ion-col size="6">
        <ion-card>

          <ion-card-header>
            <h3>Uppdrag: Hitta den vilse innan tiden går ut eller den vilsne ger sig till känna! (ger 3 poäng)</h3>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label text-wrap>
                  <h1>Vet inte ännu</h1>
                </ion-label>
              </ion-item>
              <ion-item *ngFor="let pl of players">
                <ion-label text-wrap>
                  <br>
                  <h1>{{pl.name}}</h1>
                  <br>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
          
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>

          <ion-card-header>
            <h3>Bonuspoäng: Hitta {{chosenPlace.uniqueRole}} innan tiden går ut eller den vilsne ger sig till känna! (ger 1 poäng)</h3>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label text-wrap>
                  <h1>Vet inte ännu</h1>
                </ion-label>
              </ion-item>
              <ion-item *ngFor="let pl of players">
                <ion-label text-wrap>
                  <br>
                  <h1>{{pl.name}}</h1>
                  <br>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
          
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-card padding *ngIf="player.role === chosenPlace.uniqueRole">
    <ion-card-header>
      Uppdrag: Hitta den vilsne innan tiden går ut och innan den vilsne ger sig till känna! (ger 3 poäng)
      <br>
      <br>
      Bonuspoäng: Om minst en gissar att du är {{player.role}} får du 1 poäng.
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label text-wrap>
            <h1>Vet inte ännu</h1>
          </ion-label>
        </ion-item>
        <ion-item *ngFor="let pl of players">
          <ion-label text-wrap>
            <br>
            <h1>{{pl.name}}</h1>
            <br>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <h3 padding *ngIf="player.role === 'lost'">
    Uppdrag: Hitta platsen där alla är innan tiden går ut och innan du blivit hittat av majoriteten! (ger 3 poäng)
    <br>
    <br>
    Bonuspoäng: Om du inte blir hittad av majoriteten får du 1 poäng.
    <br>
    <br>
    (För att gissa på en plats, gå till "Platser", klicka sedan på en plats och sedan på knappen: "Gissa på den här platsen")
  </h3>


</ion-content>


