<ion-header>
  <ion-toolbar>
    <ion-title>Spelet avslutat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Spelet tog slut för att {{titleMsg}}
      </ion-card-title>
    </ion-card-header>
      
    <ion-card-content>
      {{contentMsg}}
      <br>
      <br>
      Sedan kan du klicka på "Till uppdragsrapport".
      <br>
      <br>
      <ion-button expand="block" href="/mission-report">Till uppdragsrapport</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
